<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr><th>Edit Customer details</th></tr>
        <form action="" method="POST">
            {% csrf_token %}
        <tr>
            <td><label for="">Enter Customer Id</label></td>
            <td> <input type="number" name="custid" value={{custdetails.custId}}></td>
          
        </tr>
        <tr>
            <td><label for="">Enter Customer name:</label></td>
            <td> <input type="text" name="custname" value={{custdetails.custName}}></td>
        </tr>
        <tr><td>Enter Email:</td>
            <td><input type="email" name="custemail" value={{custdetails.custEmail}}>
        </td></tr>
        <tr>
            <td><label for="">Enter contact:</label></td>
            <td><input type="number" name="custcontact" value={{custdetails.custContact}}></td>
        </tr>
        <tr><td><input type="submit"></td></tr>

    </form>
    </table>
</body>
</html>